@font-face {
  font-family: 'Genshin';
  src: local('Genshin'), url(font/genshin.woff) format('woff');
}

*{
  font-family: "Genshin";
}

:root{
  --Radius : 12px;
}

/* Artifacts */
.ArtifactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.ArtifactBlock {
  background: #9797cb;
  margin: 5px;
  min-width: 150px;
  border-radius: var(--Radius);
}

.ArtifactMainStats {
  min-height: 100px;
  background: rgb(106,84,84);
  background: linear-gradient(150deg, rgba(124,84,54,1) -5%, rgba(197,125,41,1) 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: var(--Radius);
  border-top-right-radius: var(--Radius);
}

    .ArtifactMainStats h2 {
      margin: 0;
      color: white;
    }

    .ArtifactMainStats span {
      display: block;
      width: 100%;
    }


.ArtifactSubStats{
  padding: 10px;
  background-color: #ece4d7;
  border-bottom-left-radius: var(--Radius);
  border-bottom-right-radius: var(--Radius);
}

    .ArtifactSubStats ul{
      margin: 0;
      padding: 0;
    }

.SubStats{
  list-style: none;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/*Weapon */